.container{
    width:min(1200px,92%);
    margin-inline:auto;
}

.container-lg{
    width:min(1400px,94%);
    margin-inline:auto;
}

.section{
    padding:90px 0;
}

.section-sm{
    padding:50px 0;
}

.grid{
    display:grid;
    gap:24px;
}

.grid-2{
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
}

.grid-3{
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
}

.grid-4{
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
}