.primary-btn,
.secondary-btn{

    border:none;

    padding:14px 18px;

    border-radius:var(--radius-md);

    cursor:pointer;

    transition:var(--transition);

    font-weight:600;

}

.primary-btn{

    background:var(--primary);

    color:white;

}

.primary-btn:hover{

    background:var(--primary-hover);

    transform:translateY(-2px);

}

.secondary-btn{

    background:var(--surface-light);

    color:white;

}

.secondary-btn:hover{

    transform:translateY(-2px);

}