.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    padding:14px 28px;

    border:none;
    border-radius:14px;

    cursor:pointer;

    font-weight:600;

    transition:var(--transition);

    text-decoration:none;
}

.btn:hover{
    transform:translateY(-3px);
}

.btn-primary{

    background:var(--primary);
    color:white;

}

.btn-primary:hover{

    background:var(--primary-hover);

    box-shadow:0 10px 30px rgba(249,115,22,.35);

}

.btn-secondary{

    background:var(--surface);

    color:white;

}

.btn-secondary:hover{

    background:#232d3d;

}